.card {
    display: inline-block;
    width: 360px;
    margin: 20px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.img-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card__content {
    padding: 15px 25px;
}

.shop__content {
    padding: 5px 10px;
    color: #000000;
    font-size: 18px;
}

.area__content {
    font-weight: 400;
    display: inline-block;
}

.genre__content {
    font-weight: 400;
    display: inline-block;
}

.btn-primary {
    color: #fff;
    background-color: rgb(0, 51, 255);
}

.bookmark__button-submit {
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.unbookmark__button-submit {
    color: #fefefe;
    background-color: rgb(255, 0, 0);
}